Repository NVE/Designsystem, pull requests merged in 2024-10, with the labels that each got.

#266 Bedre dokumentasjon på nve-menu og nve-menu-item
  doc-site/components/nve-divider.md
  doc-site/components/nve-menu-item.md
  doc-site/components/nve-menu.md
  doc-site/issues.json
  doc-site/labels.json
  doc-site/pulls.json
  package.json
  src/components/nve-menu-item/nve-menu-item.component.ts
  src/components/nve-menu-item/nve-menu-item.styles.ts
  src/components/nve-menu/nve-menu.component.ts
  src/components/nve-menu/nve-menu.styles.ts
Labels: nve-menu

#311 feat: change label to bold
  src/components/nve-radio-group/nve-radio-group.styles.ts
Labels: nve-radio-group

#312 fix 306: Kan nå sette varianter etc
  doc-site/components/nve-accordion.md
  package-lock.json
  package.json
  src/components/nve-accordion/nve-accordion.component.ts
  src/components/nve-accordion/nve-accordion.styles.ts
Labels: nve-accordion
